dist
target
*.iml
*.ipr
*.iws
*.tar.gz
*.swp
*.swo
.classpath
.idea
.project
.PVS-Studio
.settings/
.vscode
*.log
*.DS_Store
_site
dependency-reduced-pom.xml
LICENSE.BINARY
NOTICE.BINARY
README.BINARY
README
.idea/
extensions-contrib/
extensions-core/
benchmarks/.factorypath
cloud/aws-common/.factorypath
cloud/gcp-common/.factorypath
core/.factorypath
extendedset/.factorypath
hll/.factorypath
indexing-hadoop/.factorypath
indexing-service/.factorypath
integration-tests/.factorypath
processing/.factorypath
server/.factorypath
services/.factorypath
settings.xml
sql/.factorypath
